@page
@model BooksApp.Pages.Booklist.IndexModel
@{
}
<br />
<h2>Books</h2>
<br />
@if(Model.Message !=null)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}
<br />
<a asp-page="Create" class="btn btn-primary">Add new book</a>
<br />
<br />
<form method="post">
    @if (Model.Books.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Author)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Books.FirstOrDefault().ISBN)
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.ISBN)
                    </td>
                    <td>
                        <button asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</button>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div>No books Found</div>
    }
</form>
